################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/SMTPTester/.vs/SMTPTester/v16
/CSharp/SMTPTester/SMTPTester/obj
/CSharp/GetHardwareDetails/GetHWDetails/obj
/CSharp/GetHardwareDetails/GetHWDetails/.vs/GetHWDetails/v16/Server/sqlite3
/CSharp/GetHardwareDetails/GetHWDetails/.vs/GetHWDetails/v16
/CSharp/GetHardwareDetails/Example/obj/Debug
/CSharp/GetHardwareDetails/Example/bin/Debug
/CSharp/SimpleWebRequest/obj/Release/SimpleWebRequest.csproj.CoreCompileInputs.cache
/CSharp/SimpleWebRequest/obj/Debug/SimpleWebRequest.csprojAssemblyReference.cache
/CSharp/SimpleWebRequest/obj/Debug/SimpleWebRequest.csproj.CoreCompileInputs.cache
/CSharp/SimpleWebRequest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSharp/SimpleWebRequest/.vs/SimpleWebRequest/v16/Server/sqlite3/storage.ide-wal
/CSharp/SimpleWebRequest/.vs/SimpleWebRequest/v16/Server/sqlite3/storage.ide-shm
/CSharp/SimpleWebRequest/.vs/SimpleWebRequest/v16/Server/sqlite3/storage.ide
/CSharp/SimpleWebRequest/.vs/SimpleWebRequest/v16/.suo
/CSharp/GetHardwareDetails/Example/obj/Release/Example.csproj.CoreCompileInputs.cache
