################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/SMTPTester/.vs/SMTPTester/v16
/CSharp/SMTPTester/SMTPTester/obj
/CSharp/GetHardwareDetails/GetHWDetails/obj
/CSharp/GetHardwareDetails/GetHWDetails/.vs/GetHWDetails/v16/Server/sqlite3
/CSharp/GetHardwareDetails/GetHWDetails/.vs/GetHWDetails/v16
/CSharp/GetHardwareDetails/Example/obj/Debug
/CSharp/GetHardwareDetails/Example/bin/Debug
